<table border="1px">
<tr>
  <td><strong>Comanda</strong></td>
  <td><strong>Fecha</strong></td>
  <td><strong>Cliente</strong></td>
  <td><strong>Monto Total</strong></td>
  <td><strong>Tipo de pago</strong></td>
  <td><strong>Accion</strong></td>
</tr>

{{#each ver}}
<tr>
  <td>{{_id}} </td>
  <td>{{createdAt}} </td>
  <td>{{nombreCliente}} </td>
  <td>{{telefono}} </td>
  <td>{{nit}} </td>
  <td><button> borr</button> <button>eli</button> </td>
</tr>
{{/each}}

   



</table>

